AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Move to HTTPS
	# RewriteCond %{HTTPS} off
	# RewriteCond www.%{HTTP_HOST} ^(?:www\.)?(www\..+)$ [NC]
	# RewriteRule ^ https://%1%{REQUEST_URI} [NE,L,R]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.*[^/])$ index.php?url=$1 [QSA,L]
	ErrorDocument 404 /web/error404
</IfModule>